<div class="container">
    <div class="d-flex">
        <div class="mr-2">
          <%= link_to  "メンバー一覧", admins_members_path,class: 'btn btn-outline-warning' %>
        </div>
        <div class="mr-2">
           <%= link_to "打刻一覧", work_scheduleds_path,class: 'btn btn-outline-warning' %>
        </div>
        <div class="mr-2">
          <%= link_to "稼働日", work_scheduleds_path,class: 'btn btn-outline-warning' %>
        </div>
    </div>
  </div>