<div class="container">
  <h2>打刻一覧詳細ページ</h2>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= "#{@member.first_name} #{@member.last_name}" %>
    </div>
    <div class="col-md-9">
      <%= @member.member_id %>
    </div>
  </div>
  <div id="calendar"></div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    if(!$('#calendar').hasClass("fc")) {
      $('#calendar').fullCalendar({
          // カレンダー上部を年月で表示させる
        titleFormat: 'YYYY年 M月',

        // 曜日を日本語表示
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        events: '/admins/attendance_informations.json?member_id=<%= params[:member_id] %>',
        timeFormat: 'HH:mm',
        displayEventEnd: true,
      });
    }
  });

</script>