/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
*= require_self
*= require fullcalendar
*/

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#work_scheduled {
  #work_scheduled_time_in_1i{
    display:none
  }
  
  #work_scheduled_time_in_2i{
    display:none
  }
  
  #work_scheduled_time_in_3i{
    display:none
  }
  
  #work_scheduled_time_out_1i{
    display:none
  }
  
  #work_scheduled_time_out_2i{
    display:none
  }
  
  #work_scheduled_time_out_3i{
    display:none
  }
}