<div class="container">
    <div class="d-flex">
        <div class="mr-2">
          <%= link_to  "打刻履歴", attendance_informations_path,class: 'btn btn-outline-warning' %>
        </div>
        <div class="mr-2">
           <%= link_to "稼働一覧", work_scheduleds_path,class: 'btn btn-outline-warning' %>
        </div>
        <div class="mr-2">
          <%= link_to "稼働予定日", work_scheduleds_path,class: 'btn btn-outline-warning' %>
        </div>
        <div>
          <%= link_to "マイページ", member_path(current_member),class: 'btn btn-outline-warning' %>
        </div>
    </div>
  </div>